@font-face {
  font-family: 'SFT';
  src: url(assets/sft.ttf);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  -webkit-margin-before: 0em !important;
  -webkit-margin-after: 0em !important;
  color: #777
}
html {
  background: white;
}
body {
  /* background: To be Added;
  background-attachment: fixed;
  background-size: cover; */
  text-align: center;
  font-size: 20;
  padding: 0;
  font-weight: 100;
  font-family: 'SFT';
}
.textbox {
  padding-bottom: 1%;
  padding-top: 1%;
}
::-webkit-input-placeholder {
  padding-left: 0.1%;
  padding-right: 0.1;
}
:-moz-placeholder {
  /* Firefox 18- */
  padding-left: 0.1%;
  padding-right: 0.1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  padding-left: 0.1%;
  padding-right: 0.1;
}
:-ms-input-placeholder {
  padding-left: 0.1%;
  padding-right: 0.1;
}
input[type=text] {
  border: 2px;
  background: white;
  border-radius: 5px;
  border-width: thin;
  border-color: 000;
  border-style: solid;
  padding: 5px 15px;
  font-size: 20;
}
input[type=submit] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20;
}
form {
  margin: 0 !important;
}
input[type=submit]:hover {
  background: 333;
}
.toppage {
  border-bottom: 2px;
  border-color: black;
}
hr {
  color: black;
  border-color: white;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  align-self: auto;
}
img.masterplan {
  width: 800px !important;
  padding-top: 1%;
  padding-bottom: 1% !important;
}
img.banner {
  width: 800px !important;
  padding-top: 3%;
}
img.special {
  padding-top: 1.5%;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  width: 75px;
}
